:javascript
  //this is not good practice, but it'll be easier to see what's going on by keeping this JS inline
  $(function() {
    $(document).on('ajax:success', 'form.new_list', function(event,object,status) {
      $("#current_lists").append($("<li>" + object.subject + "</li>"));
      $('form.new_list')[0].reset()
    });

    $(document).on('ajax:success', '.delete-list', function(a,b,c) {
      $(this).closest('li').remove();
    });
  });

%h1 Example Forms

- if (current_lists = Lists::List.all).present?
  %ul#current_lists
    - current_lists.each do |list|
      %li
        %strong
          = list
        |
        = list.list_items.join(', ')
        |
        = link_to 'delete', [lists, list], method: :delete, remote: true, class: 'delete-list', data: {type: :json}

- list = Lists::List.new
- 3.times { list.list_items.build }

= form_for [lists, list], class: 'example-form', format: :json, remote: true do |f|
  .subject
    = f.label :subject
    = f.text_field :subject

  .body
    = f.label :body
    = f.text_field :body

  .items
    %h3 Items
    %ul
      = f.fields_for :list_items do |list_item_form|
        %li
          = list_item_form.text_field :subject
  = f.submit


