%div
  = f.label :subject
  %br
  = f.text_field :subject

%div
  = f.label :body
  %br
  = f.text_area :body

%div
  = f.fields_for :list_items do |list_item_form|
    %div
      = list_item_form.label :subject
      %br
      = list_item_form.text_field :subject
    %div
      = list_item_form.label :body
      %br
      = list_item_form.text_area :body

