%h1 List Show

= link_to 'edit', edit_list_path(@list)
%p
  Subject:
  = @list.subject

%p
  Body:
  = @list.body

%p
  Items:
  - if @list.list_items.present?
    %ul
      - @list.list_items.each do |list_item|
        %li
          = list_item.subject
          %br
          = list_item.body
